<!-- Navbar -->
<div class="w3-top">
	<div class="w3-bar w3-black w3-card">
		<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu">
			<i class="fa fa-bars"></i>
		</a>
		<a href="{{ path('app_index') }}" class="w3-bar-item w3-button w3-padding-large">ACCUEIL</a>
		{% if categories is defined %}
			<div class="w3-dropdown-hover w3-hide-small">
				<button class="w3-padding-large w3-button" title="categories">CATEGORIES
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="w3-dropdown-content w3-bar-block w3-card-4">
					{% for category in categories %}
						<a href="{{ path('index_category', {'categoryName' : category.name }) }}" class="w3-bar-item w3-button">{{ category.name|upper }}</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		<a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
		<div class="w3-dropdown-hover w3-hide-small">
			<button class="w3-padding-large w3-button" title="plus">PLUS
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4">
				<a href="{{ path('order_dashboard') }}" class="w3-bar-item w3-button">TABLEAU DE BORD</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin_backoffice') }}" class="w3-bar-item w3-button">BACKOFFICE</a>
					<a href="{{ path('admin_register') }}" class="w3-bar-item w3-button">INSCRIPTION ADMIN</a>
				{% endif %}
			</div>
		</div>
		{% if is_granted('ROLE_USER') %}
			<a href="{{ path('app_logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">DECONNEXION</a>
		{% else %}
			<a href="{{ path('app_login') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONNEXION</a>
			<a href="{{ path('app_register') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">INSCRIPTION</a>
		{% endif %}
	</div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
	<a href="#ecommerce" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PRODUITS</a>
	<a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
</div>
